.dark-mode-btn {
	position: relative;
	display: flex;
	justify-content: space-between;
	width: 65px;
	height: 33px;
	padding: 6px;
	border-radius: 50px;
	background-color: var(--color-primary);
  cursor: pointer;
}

.dark-mode-btn::before {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	display: block;
	width: 29px;
	height: 29px;
	border-radius: 50%;
	background-color: lightslategray;
	transition: left 0.2s ease-in;
	filter: drop-shadow(0 0 10px #fcf700) drop-shadow(0 0 20px #fcf700);
}

.dark-mode-btn__active::before {
	left: 34px;
	filter: drop-shadow(0 0 10px aqua) drop-shadow(0 0 20px aqua);
}

.dark-mode-btn__icon {
	position: relative;
	font-size: 1.2rem;
  color: yellow;
  text-shadow: 0 0 5px white;
}

.moon {
  color: aqua;
}
