nav {
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;
  background: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  box-shadow: 0 1rem 1.5rem hsla(var(--primary-hue),
  68%, 42%, 20%);
  transition: var(--trasition);
}

.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-weight: 800;
  font-size: 2rem;
}

.nav__menu {
  margin: 0 1rem;
  display: flex;
  gap: 1.5rem;
}

.nav__menu a {
  background: transparent;
  padding: 0.5rem 0.7rem;
  display: flex;
  font-size: 1.1rem;
  border-radius: var(--border-radius-2);
}

.nav__menu a.active {
  background: rgba(0, 0, 0, 0.3);
  font-weight: 600;
  filter: drop-shadow(0 0 10px #fff) drop-shadow(0 0 20px #fff);
}

#theme__icon {
  background: transparent;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/* HIDE NAV MENU ON TABLETS AND PHONES */
@media screen and (max-width: 1024px) {
  .nav__menu {
    background: rgba(0, 0, 0, 0.2);
    width: max-content;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 47%;
    bottom: 2px;
    transform: translateX(-50%);
    gap: 0.8rem;
    border-radius: var(--border-radius-1);
    backdrop-filter: blur(15px);
    opacity: 0.8;
  }

  .nav__menu a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
  }

  .nav__menu a.active {
    filter: drop-shadow(0 0 10px red) drop-shadow(0 0 20px red);
  }
}